<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h2>Welcome to your admin dashboard!</h2>


<h1>Users Database</h1>
<table>
    <tr>
        <th>NetID</th>
        <th>Grade</th>
        <th>Quiz Results</th>
    </tr>
    {% for user in users_list %}
        <tr>
            <td> {{user.netID}} </td>
            <td> {{user.grade}} </td>
            <td> {{user.quiz_results}} </td>
        </tr>
    {% endfor %}
</table>

<h3>Log Out</h3>
<div>
    <a href = "/logout"><button>Log Out</button></a>
</div>

</body>
</html>