<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>alumni</title>
</head>
<body>
    <h2>Welcome to Alumni Hall!</h2>
    <p>Located in the heart of East Village, Alumni Hall has approximately 450 upperclass and graduate residents. We share our programs and staff with our East Village neighbors in the Green House at 7th Street. Together these two buildings make up the 7A Partnership.

Alumni consists of 100% single bedrooms - every resident has a bedroom to themselves and shares a suite with 1-3 other suitemates. Bedrooms have a bed, desk, closet, and dresser. Common areas include a table with 2 chairs, fridge, stove, sink, and cabinets. Alumni has two recently renovated lounges: a TV lounge with a pool table, and a study lounge with plenty of space. There are also smaller study lounges on floors 2, 3, 4, 5, 6, 13, 14, and 15. Laundry is in the basement.

There are plenty of activities to get involved with at Alumni. The 7A Partnership Hall Council is a great opportunity that allows you to become a leader in the community, by either running for elected office or serving as a floor representative.

The 14 RAs and hall council plans a variety of programs for the buildings and it is an excellent way for residents to get to know one another. Also, there are programs planned by the Faculty Fellows in Residence. These events range from Broadway shows, food tastings, to discussions with distinguished alumni.</p>

       <h4>Alumni Hall</h4>
       <img src="{{url_for('static', filename='alumni_img_1.jpg')}}" alt="Lobby" height="240">


       <h3>Getting Around</h3>
       <p>Subway Access:
            - Two blocks from Astor Place station, 6 train.
            - Three blocks from 8th St. and Broadway station, N, R, trains
            - Eight blocks to Union Square station, N, R, Q, 4, 5, 6, L trains.
        - The closest free NYU Shuttle is Route C, which stops on 13th St and Third Ave. For more info, please see Bus Routes and Schedules
        - Closest dining hall is on 12th St. and Third Ave, Third North Courtyard Cafe. </p>

        <h3>Residence Hall Security</h3>
        <p>
            Safety and security are everyone's responsibility, but it is the NYU Department of Campus Safety's top priority. Each residence hall
            has a Campus Safety officer assigned to its entrance at all times. 
            You can contact NYU's Department of Campus Safety at (212) 998-2222.

            When entering the residence halls:

                - All residents must utilize their NYU ID card to access the residence halls.
                - All guests must be signed in and out by their resident host and comply with appropriate guest procedures
        </p>



        <h5>Meal Plans & Dining</h5>
        <p>Every first year student that lives on campus is required to have a meal plan,
         which can be used at any of the NYU Dining Facilities. Students living in traditional
         housing must maintain a minimum of 225 meals per semester, and students living in apartment
         style housing must maintain a minimum of 113 meals. Meal plans come with Dining Dollars,
         which are pre-loaded onto students ID cards, and can be spent at any participating vendor.
         There is one dining hall in Brooklyn, the Jasper Kane Cafe, which was renovated in 2017. Additionally,
         the university takes measures to accommodate multiple dietary restrictions (i.e., gluten-free, vegan, vegetarian,
         kosher, halal) in all dining facilities.</p>


        <h1>We hope you choose to live here!</h1>

</body>
</html>