<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browsing Roommates for {{session.netID}}</title>
</head>
<body>
<!-- <h1>Your questionnaire answers</h1>
    {% for ans in answers %}
        <answer> {{ans}}</answer>
    {% endfor %} -->


<h2>See dorm info</h2>
<h3>Brooklyn dorms</h3>
<a href = "/clark"><button>Clark</button></a>
<a href = "/othmer"><button>Othmer</button></a>
<h3>Manhattan dorms</h3>
<a href = "/gramercy"><button>Gramercy</button></a>
<a href = "/alumni"><button>Alumni</button></a>
<h3>Log Out</h3>
<a href = "/logout"><button>Log Out</button></a>

</body>
</html>