<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Browsing Roommates for {{session.netID}}</title>
</head>
<body>
<h1>Your questionnaire answers</h1>
    {% for ans in quiz_results %}
        <answer> {{ans}}: {{quiz_results[ans]}}</answer>
        <br>
    {% endfor %}

<h1>Roommate matches</h1>
<!-- work in progress -->

<h2>See dorm info</h2>
<h3>Brooklyn dorms</h3>
<div>
    <a href = "/clark"><button>Clark</button></a>
    <a href = "/othmer"><button>Othmer</button></a>
</div>
<h3>Manhattan dorms</h3>
<div>
    <a href = "/gramercy"><button>Gramercy</button></a>
    <a href = "/alumni"><button>Alumni</button></a>
</div>
<h3>Log Out</h3>
<div>
    <a href = "/logout"><button>Log Out</button></a>
</div>

</body>
</html>