<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clark Hall</title>
</head>
<body>
    <h2>Welcome to Clark Hall!</h2>

    <p> Located in the beautiful Brooklyn Heights neighborhood, the recently renovated Clark
        Street building sits a block from the Clark Street subway stop, where you can take the 2 or 3 train one stop to the Financial District.

        Each suite includes a refrigerator, microwave, and TV, and on the ground floor there is a large, spacious community kitchen accessible to all
        residents of the building. In the hall's cutting-edge, 8,300-square foot student community center, you can make dinner with friends,
        hold a study group in the library, watch a movie in the screening room, or play pool while catching a game on a flat screen TV. Furthermore,
        all residents are eligible for a complimentary membership to the Eastern Athletic Club, located next door. Our Resident Assistants (RAs) are here
        to help facilitate community building, enhance your academic experience, plan events, and provide support during your time at Clark Street. 
        Throughout the year, there are also many opportunities to get involved, especially with our Hall Council - our very own hall government where 
        you can run for an elected position or serve on the general assembly.</p>

    <h3>Getting Around</h3>
    <p>Subway Access:
        - Less than 1 block to the Clark Street Station for the 2, 3 trains.
        - 4 blocks to the High Street Station for the A, C trains
        - 4 blocks to the Court Street Station for the R train.
        
       Closest dining hall is the Jasper Kane Dining Center.</p>



       <h4>Clark Lobby</h4>
       <img src="{{url_for('static', filename='clark_photo_1.jpg')}}" alt="Lobby" width="250" height="167">

       <h4>Clark Bedroom</h4>
       <img src="{{url_for('static', filename='clark_photo_2.jpg')}}" alt="Lobby" width="250" height="167">
       <img src="{{url_for('static', filename='clark_photo_3.jpg')}}" alt="Lobby" width="250" height="167">
       <img src="{{url_for('static', filename='clark_photo_4.jpg')}}" alt="Lobby" width="250" height="167">
       <img src="{{url_for('static', filename='clark_photo_5.jpg')}}" alt="Lobby" width="250" height="167">


       <h5>Meal Plans & Dining</h5>
       <p>Every first year student that lives on campus is required to have a meal plan,
        which can be used at any of the NYU Dining Facilities. Students living in traditional
        housing must maintain a minimum of 225 meals per semester, and students living in apartment
        style housing must maintain a minimum of 113 meals. Meal plans come with Dining Dollars,
        which are pre-loaded onto students ID cards, and can be spent at any participating vendor.
        There is one dining hall in Brooklyn, the Jasper Kane Cafe, which was renovated in 2017. Additionally,
        the university takes measures to accommodate multiple dietary restrictions (i.e., gluten-free, vegan, vegetarian,
        kosher, halal) in all dining facilities.</p>


        <h6>Live-In Support</h6>
        <p>Each NYU residence hall is fully staffed with a Residence Hall Director,
        a Residence Hall Assistant Director and a Resource Center Manager. These professional
        staff members oversee the team of Resident Assistants (RAs) who coordinate events and
        promote community development on their floor. RAs can assist students with questions
        related to housing and navigating the university. FYRE RAs receive larger budgets and
        additional training to help ease the transition for first year students.</p>


        <h1>We hope you choose to live here!</h1>


</body>
</html>
