<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clark Hall</title>
</head>
<body>
    <h2>Welcome to Clark Hall!</h2>

    <p> Located in the beautiful Brooklyn Heights neighborhood, the recently renovated Clark
        Street building sits a block from the Clark Street subway stop, where you can take the 2 or 3 train one stop to the Financial District.

        Each suite includes a refrigerator, microwave, and TV, and on the ground floor there is a large, spacious community kitchen accessible to all
        residents of the building. In the hall's cutting-edge, 8,300-square foot student community center, you can make dinner with friends,
        hold a study group in the library, watch a movie in the screening room, or play pool while catching a game on a flat screen TV. Furthermore,
        all residents are eligible for a complimentary membership to the Eastern Athletic Club, located next door. Our Resident Assistants (RAs) are here
        to help facilitate community building, enhance your academic experience, plan events, and provide support during your time at Clark Street. 
        Throughout the year, there are also many opportunities to get involved, especially with our Hall Council - our very own hall government where 
        you can run for an elected position or serve on the general assembly.</p>

    <h3>Getting Around</h3>
    <p>Subway Access:
        - Less than 1 block to the Clark Street Station for the 2, 3 trains.
        - 4 blocks to the High Street Station for the A, C trains
        - 4 blocks to the Court Street Station for the R train.
        
       Closest dining hall is the Jasper Kane Dining Center.</p>



       <h4>Clark Lobby</h4>
       <img src="clark_photo_1.jpg" alt="Lobby" width="250" height="167">

       <h4>Clark Bedroom</h4>
       <img src="clark_photo_2.jpg" alt="bedroom" width="250" height="167">


</body>
</html>
