<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gramercy Green</title>
</head>
<body>
    <h2>Welcome to Gramercy Green!</h2>
    <p>Located in the Gramercy Park area of NYC, this residence hall offers NYU students a unique
        living experience with a variety of amenities and living-learning opportunities. Primarily
        housing sophomore students, the building maintains 20 resident assistants, three Faculty
        Fellows-in-Residence, two Explorations communities, and two Chaplains in Residence. The
        facilities include TV, computer, and study lounges, a fitness center, as well as a large
        programming space for a variety of events and activities.

        The area in which Gramercy Green is located draws upon its connection with numerous historic
        landmarks nearby, including the Beaux Arts Appellate Courthouse, the Flatiron Building,
        the MetLife Clock Tower, the New York Life Building, and the Empire State Building. The
        Greenmarket at Union Square is the favorite local shopping destination for the Gramercy
        residents but the area also houses a variety of grocery stores and local delis. Stores of all
        descriptions can be found on Park Avenue South, and there is an expansive choice of restaurants
        in the area. Today, the Gramercy Park area is a thriving neighborhood with the right mix of
        stores and residential buildings.</p>

    <h3>Getting Around</h3>
    <p> 25 minute walk to Washington Square
        NYC Mass Transit Access:
        NYC Bus:
            M101, M102, & M103 for uptown/downtown service on 3rd Ave
            M15 for downtown service on 2nd Ave
            M23 for crosstown service on 23rd Street
        Two blocks away from subway stop at 23rd & Park Avenue for the 6 train.
        A few blocks away from subway stop at 23rd & Broadway for the R train.
        The closest free NYU Shuttle is Route E & F, which stops at Gramercy Green.</p>


       <h4>Gramercy</h4>
       <img src="{{url_for('static', filename='gramercy_img_1.jpg')}}" alt="Lobby" height="240">
       <img src="{{url_for('static', filename='gramercy_img_2.jpg')}}" alt="Lobby" height="240">


       <h5>Meal Plans & Dining</h5>
       <p>Every first year student that lives on campus is required to have a meal plan,
        which can be used at any of the NYU Dining Facilities. Students living in traditional
        housing must maintain a minimum of 225 meals per semester, and students living in apartment
        style housing must maintain a minimum of 113 meals. Meal plans come with Dining Dollars,
        which are pre-loaded onto students ID cards, and can be spent at any participating vendor.
        There is one dining hall in Brooklyn, the Jasper Kane Cafe, which was renovated in 2017. Additionally,
        the university takes measures to accommodate multiple dietary restrictions (i.e., gluten-free, vegan, vegetarian,
        kosher, halal) in all dining facilities.</p>



       <h1>We hope you choose to live here!</h1>
</body>
</html>