<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <h1>Log in</h1>
<form action="/loginCustomer" method="POST">
	<input type="text" name = "email" placeholder="email" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="submit" value = Login />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
    <h1>Don't have an account?</h1>
    <a href = "/register"><button>Register</button></a>
</body>
</html>