<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <a href = "/loginSenior"><button>Senior Login</button></a>
    <a href = "/loginJunior"><button>Junior Login</button></a>
    <a href = "/loginSophomore"><button>Sophomore Login</button></a>
    <a href = "/loginFreshman"><button>Freshman Login</button></a>

</body>
</html>