<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Othmer Hall</title>
</head>
<body>
    <h2>Welcome to Othmer Hall!</h2>

    <p>Located in Downtown Brooklyn, the Donald F. and Mildred Topp Othmer Residence
        Hall is an 18-story building, housing over 400 NYU students in both traditional
        and apartment-style suites. The residence includes student lounge access on
        each floor and laundry facilities in the basement. Our 12 Resident Assistants (RAs)
        and one Faculty Fellow-in-Residence are here to help facilitate community building,
        enhance your academic experience, plan events, and provide support during your time
        at Othmer Hall. Throughout the year, there are also many opportunities to get involved,
        especially with our Hall Council - our very own hall government where you can run for an
        elected position or serve on the general assembly!</p>

    <h3>Getting Around</h3>
    <p>Subway Access:
        - 2 blocks to Jay Street-Metro Tech Station for A, C, F, R trains.
        - 5 blocks to Borough Hall Station for 2, 3, 4, 5 trains.
        - 7 blocks to DeKalb Ave Station for B, Q, R trains.
        
        The closest dining hall is Jasper Kane Dining Center,
        which is located in Rogers Hall across Johnson Street.
        Please note: all Othmer residents are required to maintain
        a minimum meal plan.</p>



        <h4>Othmer Hall</h4>
       <img src="{{url_for('static', filename='othmer_img_1.jpg')}}" alt="Othmer" width="250" height="167">


       <h5>Meal Plans & Dining</h5>
       <p>Every first year student that lives on campus is required to have a meal plan,
        which can be used at any of the NYU Dining Facilities. Students living in traditional
        housing must maintain a minimum of 225 meals per semester, and students living in apartment
        style housing must maintain a minimum of 113 meals. Meal plans come with Dining Dollars,
        which are pre-loaded onto students ID cards, and can be spent at any participating vendor.
        There is one dining hall in Brooklyn, the Jasper Kane Cafe, which was renovated in 2017. Additionally,
        the university takes measures to accommodate multiple dietary restrictions (i.e., gluten-free, vegan, vegetarian,
        kosher, halal) in all dining facilities.</p>

        <h6>Live-In Support</h6>
        <p>Each NYU residence hall is fully staffed with a Residence Hall Director,
        a Residence Hall Assistant Director and a Resource Center Manager. These professional
        staff members oversee the team of Resident Assistants (RAs) who coordinate events and
        promote community development on their floor. RAs can assist students with questions
        related to housing and navigating the university. FYRE RAs receive larger budgets and
        additional training to help ease the transition for first year students.</p>
</body>
</html>
