<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire template</title>
</head>
<body>
<form>

</form>
    <h1>Take our Questionnaire!</h1>
    <form method="POST">
      <label for="sleep" class="form-label">What time do you usually go to bed?</label>
      <select type="text" name="sleep" class="form-control" required>
		<option value="super early">6pm-9pm</option>
		<option value="early">9pm-11pm</option>
        <option value="normal">11pm-1am</option>
        <option value="late">1am-3am</option>
        <option value="super late">1am-3am</option>
	  </select>
      <br>
      <label for="guests" class="form-label">How often do you have guests over?</label>
		<select type="text" name="guests" class="form-control" required>
		<option value="never">never</option>
		<option value="rarely">rarely</option>
        <option value="sometimes">sometimes</option>
        <option value="often">often</option>
        <option value="very often">very often</option>
			</select>
      <br>
      <label for="social" class="form-label">Social</label>
      <select type="text" name="social" class="form-control" required>
		<option value="not at all">never</option>
		<option value="rarely">rarely</option>
        <option value="sometimes">sometimes</option>
        <option value="often">often</option>
        <option value="very social">very often</option>
      </select>
      <br>
      <input type="submit" value = "submit" />
	</form>
</body>
</html>