<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Questionnaire template</title>
</head>
<body>
<form>

</form>
    <h1>Take our Questionnaire!</h1>
    <form method="POST">
        <label for="sleep" class="form-label">What time do you usually go to bed?</label>
        <select type="text" name="sleep" class="form-control" required>
            {% for opt in sleep_options %}
            <option> {{opt}}</option>
            {% endfor %}
        </select>

      <br>
      <label for="guests" class="form-label">How often do you have guests over?</label>
        <select type="guests" name="guests" class="form-control" required>
            {% for opt in guests_options %}
            <option> {{opt}}</option>
            {% endfor %}
        </select>
      <br>
      <label for="clean" class="form-label">How clean do you like your room to be?</label>
        <select type="clean" name="clean" class="form-control" required>
            {% for opt in clean_options %}
            <option> {{opt}}</option>
            {% endfor %}
        </select>
      <br>

      <label for="gender" class="form-label">What gender would you prefer to live with?</label>
        <select type="gender" name="gender" class="form-control" required>
            {% for opt in gender_options %}
            <option> {{opt}}</option>
            {% endfor %}
        </select>
      <br>

      <label for="animal" class="form-label">Are you comfortable living with a service animal?</label>
        <select type="gender" name="gender" class="form-control" required>
            {% for opt in animal_options %}
            <option> {{opt}}</option>
            {% endfor %}
        </select>
      <br>

      <input type="submit" value = "submit" />
	</form>
</body>
</html>