<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user homepage</title>
</head>
<body>
<h2>Welcome to your account!</h2>
<h1>Take the roommate matching quiz?</h1>
<a href = "/quiz"><button>Quiz</button></a>

<h2>See dorm info</h2>
<h3>Brooklyn dorms</h3>
<a href = "/clark"><button>Clark</button></a>
<a href = "/othmer"><button>Othmer</button></a>
<h3>Manhattan dorms</h3>
<a href = "/gramercy"><button>Gramercy</button></a>
<a href = "/alumni"><button>Alumni</button></a>

</body>
</html>