<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>user homepage</title>
</head>
<body>
<h2>Welcome to your account {{session.netID}}!</h2>
<h1>Take the roommate matching questionnaire?</h1>
<div>
    <a href = "/questionnaire"><button>Questionnaire</button></a>
</div>

<h1>Browse potential roommates!</h1>

<div>
    <a href = "/browse"><button>Browse</button></a>
</div>

<h2>See dorm info</h2>
<h3>Brooklyn dorms</h3>
<div>
    <a href = "/clark"><button>Clark</button></a>
    <a href = "/othmer"><button>Othmer</button></a>
</div>
<h3>Manhattan dorms</h3>
<div>
    <a href = "/gramercy"><button>Gramercy</button></a>
    <a href = "/alumni"><button>Alumni</button></a>
</div>
<h3>Log Out</h3>
<div>
    <a href = "/logout"><button>Log Out</button></a>
</div>

</body>
</html>